<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .top-div {
            display: flex;
            width: 100%;
            justify-content: start;
        }

        a {
            text-decoration: none;
            padding: 0.5rem 1rem;
            margin-left: 1rem;
            margin-top: 0.5rem;
            display: flex;
            width: 8rem;
            justify-content: center;
            align-items: center;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        }

        a:hover {
            background-color: rgb(58, 48, 48);
            color: white;
            transition: 0.4s;
        }

        .toggle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 4rem;
            border: 1px solid gray;
            width: 16%;
            padding: 2rem;
            border-radius: 8px;
        }

        .btn-choose {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        .lang {
            display: flex;
            justify-content: center;
            border-radius: 5px;
            height: 2.8rem;
            width: 10rem;
            font-size: 1.4rem;
            outline: none;
        }

        .btn {
            text-decoration: none;
            padding: 0.5rem 1rem;
            margin-top: 1rem;
            display: flex;
            width: 12rem;
            justify-content: center;
            align-items: center;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        }

        .btn:hover {
            background-color: rgb(58, 48, 48);
            color: white;
            transition: 0.4s;
        }
    </style>
</head>

<body>
    <div class="top-div">
        <a id="back" href="/welcome"></a>
    </div>

    <div class="toggle">
        <h2 id="choose"></h2>
        <select id="select-language" class="lang">
            <option>
                English
            </option>
            <option>
                हिंदी
            </option>
            <option>
                عربي
            </option>
        </select>
        <div class="btn-choose"> <button onclick="change(event)" id="confirm" class="btn"></button> </div>
    </div>

</body>

<script>

    let login = {
        back: 'Back',
        choose_language: 'Choose Language',
        confirm: 'Confirm'
    }

    let loginHindi = {
        back: 'पीछे',
        choose_language: 'भाषा चुनें',
        confirm: 'पुष्टि करना'
    }

    let loginArabic = {
        back: 'خلف',
        choose_language: 'اختر اللغة',
        confirm: 'يتأكد'
    }

    window.onload = function () {
        let language = localStorage.getItem('language');
        if (language == 'हिंदी') {
            document.getElementById('back').innerHTML = loginHindi.back;
            document.getElementById('choose').innerHTML = loginHindi.choose_language;
            document.getElementById('confirm').innerHTML = loginHindi.confirm;
        }
        else if (language == 'عربي') {
            document.getElementById('back').innerHTML = loginArabic.back;
            document.getElementById('choose').innerHTML = loginArabic.choose_language;
            document.getElementById('confirm').innerHTML = loginArabic.confirm;
        }
        else {
            document.getElementById('back').innerHTML = login.back;
            document.getElementById('choose').innerHTML = login.choose_language;
            document.getElementById('confirm').innerHTML = login.confirm;
        }
    };

    const change = (e) => {
        e.preventDefault();
        let lang = document.getElementById('select-language').value;
        localStorage.setItem('language', lang);
        window.location.href = 'welcome'
    }

</script>

</html>