<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://localhost:1111/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>

<style>
    .form-data {
        width: 400px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 15px 15px 15px 15px;
        border-radius: 5px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .control {
        width: 100%;
        justify-content: center;
    }

    .inpt {
        height: 25px;
        border-radius: 5px;
    }

    .btn_submit {
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin-bottom: 0.8rem;
        display: flex;
        width: 8rem;
        justify-content: center;
        align-items: center;
        background-color: #f0e6e6;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }

    .btn_submit:hover {
        background-color: rgb(58, 48, 48);
        color: white;
        transition: 0.4s;
    }

    .cntr_btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .top-div {
        display: flex;
        width: 100%;
        justify-content: start;
    }


    a {
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        display: flex;
        width: 8rem;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    }

    a:hover {
        background-color: rgb(58, 48, 48);
        color: white;
        transition: 0.4s;
    }
</style>

<body>
    <div class="top-div">
        <a id="home" href="/welcome"> </a>
    </div>
    <div>
        <form class="form-data" action="/create-item" method="post" enctype="multipart/form-data">
            <div class="cntr_btn">
                <h2 id="add"> </h2>
            </div>
            <label for="item_name">
                <h2 id="nametext"> </h2>
            </label> <input class="inpt" name="item_name" id="item_name" type="text" />
            <label for="description">
                <h2 id="descriptiontext"> </h2>
            </label> <input class="inpt" name="description" id="description" type="text" />
            <label for="item_id">
                <h2 id="idtext"> </h2>
            </label> <input class="inpt" name="item_id" id="item_id" type="text" />
            <label>
                <h2 id="imagetext"> </h2>
            </label> <input id="file" class="inpt" name="image" type="file" />
            <label for="start_price">
                <h2 id="start"> </h2>
            </label> <input class="inpt" name="start_price" id="start_price" type="number" />
            <br></br>
            <div class="cntr_btn"> <button id="submit" type="submit" class="btn_submit"> </button> </div>
        </form>
    </div>
</body>

<script>

    let login = {
        home: 'Home',
        add: 'ADD AUCTION ITEM...',
        item_name: 'Item Name',
        description: 'Description',
        item_id: 'Item Id',
        item_image: 'Item Image',
        start_price: 'Start Price',
        submit: 'SUBMIT'
    }

    let loginHindi = {
        home: 'घर',
        add: 'नीलामी आइटम जोड़ें...',
        item_name: 'आइटम नाम',
        description: 'विवरण',
        item_id: 'सामान आईडी',
        item_image: 'आइटम छवि',
        start_price: 'प्रारंभ मूल्य',
        submit: 'जमा करना'
    };

    let loginArabic = {
        home: 'بيت',
        add: 'إضافة عنصر المزاد...',
        item_name: 'اسم العنصر',
        description: 'وصف',
        item_id: 'معرف العنصر',
        item_image: 'صورة العنصر',
        start_price: 'पالسعر المبدئي',
        submit: 'يُقدِّم',
        placeholder: 'لم تقم باختيار ملف'
    };

    window.onload = function () {
        let language = localStorage.getItem('language');
        if (language == 'हिंदी') {
            document.getElementById('home').innerHTML = loginHindi.home;
            document.getElementById('add').innerHTML = loginHindi.add;
            document.getElementById('nametext').innerHTML = loginHindi.item_name;
            document.getElementById('descriptiontext').innerHTML = loginHindi.description;
            document.getElementById('idtext').innerHTML = loginHindi.item_id;
            document.getElementById('imagetext').innerHTML = loginHindi.item_image;
            document.getElementById('start').innerHTML = loginHindi.start_price;
            document.getElementById('submit').innerHTML = loginHindi.submit;
        }
        else if (language == 'عربي') {
            document.getElementById('home').innerHTML = loginArabic.home;
            document.getElementById('add').innerHTML = loginArabic.add;
            document.getElementById('nametext').innerHTML = loginArabic.item_name;
            document.getElementById('descriptiontext').innerHTML = loginArabic.description;
            document.getElementById('idtext').innerHTML = loginArabic.item_id;
            document.getElementById('imagetext').innerHTML = loginArabic.item_image;
            document.getElementById('start').innerHTML = loginArabic.start_price;
            document.getElementById('submit').innerHTML = loginArabic.submit;
        }
        else {
            document.getElementById('home').innerHTML = login.home;
            document.getElementById('add').innerHTML = login.add;
            document.getElementById('nametext').innerHTML = login.item_name;
            document.getElementById('descriptiontext').innerHTML = login.description;
            document.getElementById('idtext').innerHTML = login.item_id;
            document.getElementById('imagetext').innerHTML = login.item_image;
            document.getElementById('start').innerHTML = login.start_price;
            document.getElementById('submit').innerHTML = login.submit;
        }
    };

    localStorage.removeItem('auction');
    const socket = io('http://localhost:1111');
    socket.on('join-auction', data => {
        alert(data);
        window.location.href = "/live_auction"
    });
</script>


</html>