<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://localhost:1111/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>

<style>
    #form-data {
        width: 400px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 15px 15px 15px 15px;
        border-radius: 5px;
        margin-top: 100px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .control {
        width: 100%;
        justify-content: center;
    }

    .inpt {
        height: 25px;
        border-radius: 5px;
    }

    .btn_submit {
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin-bottom: 0.8rem;
        display: flex;
        width: 8rem;
        justify-content: center;
        align-items: center;
        background-color: #f0e6e6;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }

    .btn_submit:hover {
        background-color: rgb(58, 48, 48);
        color: white;
        transition: 0.4s;
    }

    .cntr_btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .top-div {
        display: flex;
        width: 100%;
        justify-content: start;
    }

    a {
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        display: flex;
        width: 8rem;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    }

    a:hover {
        background-color: rgb(58, 48, 48);
        color: white;
        transition: 0.4s;
    }

    #item_id {
        height: 2.4rem;
        font-size: 1.2rem;
        outline: none;
    }
</style>

<body>

    <div class="top-div">
        <a id="back" href="/welcome"></a>
    </div>
    <div>
        <form id="form-data" onsubmit="createAuction(event)">
            <div class="cntr_btn">
                <h2 id="create"> </h2>
            </div>
            <label for="item_id">
                <h2 id="select"> Select Item :</h2>
            </label> <select id="item_id" class="inpt"> </select>
            <br></br>
            <div class="cntr_btn"> <button id="submit" type="submit" class="btn_submit">SUBMIT</button> </div>
        </form>
    </div>
</body>
<script>

    let login = {
        back: 'Back',
        create: 'CREATE AUCTION...',
        select: 'Select Item',
        submit: 'SUBMIT'
    }

    let loginHindi = {
        back: 'पीछे',
        create: 'नीलामी बनाएँ...',
        select: 'वस्तु चुनें',
        submit: 'जमा करना'
    };

    let loginArabic = {
        back: 'خلف',
        create: 'إنشاء مزاد...',
        select: 'حدد البند',
        submit: 'يُقدِّم'
    };

    window.onload = function () {
        let language = localStorage.getItem('language');
        if (language == 'हिंदी') {
            document.getElementById('back').innerHTML = loginHindi.back;
            document.getElementById('create').innerHTML = loginHindi.create;
            document.getElementById('select').innerHTML = loginHindi.select;
            document.getElementById('submit').innerHTML = loginHindi.submit;
        }
        else if (language == 'عربي') {
            document.getElementById('back').innerHTML = loginArabic.back;
            document.getElementById('create').innerHTML = loginArabic.create;
            document.getElementById('select').innerHTML = loginArabic.select;
            document.getElementById('submit').innerHTML = loginArabic.submit;
        }
        else {
            document.getElementById('back').innerHTML = login.back;
            document.getElementById('create').innerHTML = login.create;
            document.getElementById('select').innerHTML = login.select;
            document.getElementById('submit').innerHTML = login.submit;
        }
    };

    localStorage.removeItem('auction');
    const socket = io('http://localhost:1111');
    socket.on('join-auction', data => {
        alert(data);
        window.location.href = "/live_auction"
    })

    const createAuction = (e) => {
        e.preventDefault();
        let item_id = document.getElementById('item_id').value;
        fetch('create-auction', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                item_id: item_id
            })
        }).then((res) => {
            if (res.status === 200) {
                return res.json().then((res) => {
                    socket.emit('auction-started', res.message);
                })
            } else {
                return res.json().then((res) => {
                    alert(res.message)
                    window.location.href = "/welcome"
                }).catch((err) => {
                    alert(err.message)
                    window.location.href = "/welcome"
                })
            }
        })
    }

    fetch('/get-all-items-once').then((res) => {
        if (res.status === 200) {
            res.json().then((res) => {
                document.getElementById('item_id').innerHTML = res.data.map((item) => {
                    return ` <option> ${item.item_id} </option> `
                })
            })
        } else {
            return res.json().then((res) => {
                alert(res.message)
            }).catch((err) => {
                alert(err.message)
            })
        }
    })

</script>

</html>